
<html lang="en">
    <head>
        <%- include ('partials/head.ejs') %>
        <link rel="stylesheet" href="/home/center-panel.css">
        <link rel="stylesheet" href="/course/right-panel.css">  
        <link rel="stylesheet" href="/user-profile/center-panel.css">
    </head>  
    <body class="leftMenuClose">
        <%- include ('partials/header.ejs') %>

        <div class="main">
            <%- include ('partials/left-panelV1.ejs',{name:''})%>
               
        <div class="center-panel">

            <div class="content">

  
                <div class="lessons">
                    
                  
                </div>

            </div>

        </div>
        
        <div class="right-panel">

            <div class="author-info">

                <div class="s1">
                    
                    <div class="photo"><img src="/<%= userProfile.Photo %>" alt=""></div>
                    
                    <div>
                        <div class="name"><%= userProfile.FullName%></div>
                        <p><%= userProfile.LikesCount%> like</p>

                    </div>
                </div>

                <div class="s2">
                    <div class="bio">
                        <span><i class="fa fa-info-circle" aria-hidden="true"></i>
                        </span><%= userProfile.Description%></span>
                    </div>
                    <button>more</button>
                </div>
              
            </div>

        
        </div>
        </div>

        <%- include ('partials/footer-menu.ejs') %>
        <%- include ('partials/modals.ejs') %>

        <script type="module" src="/scripts/user_profile.js"></script>

    </body>
</html>

